.navbar{
    background: #fff;
    padding: 20px;
    color: #000;
}

.navbar nav{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    column-gap: 0px;
    justify-content: space-between;
    /* border:1px solid rgb(156, 148, 148) */
}
.navbar a.brand{
    margin-right: auto;
    color: #000;
    text-decoration: none;
    border:1px solid #000;
    border-radius:10px;
    padding: 2px;
    min-height:30px; 
    min-width: 120px;
}
/* .navbar .search{
    align-items: center;
    margin-right : px;
    background: cyan; 
} */

.navbar .addbutton {
    color: #000;
    text-decoration: none;
    border-radius:10px;
    margin-left: 40px;
    /* padding: 8px 8px; */
    border:1px solid #000;
    padding: 2px;
    min-height:30px; 
    min-width: 120px;
    /* border-radius: 4px; */
}
.navbar .about{
    color: #000;
    text-decoration: none;
    border-radius:10px;
    margin-left: 40px;
    /* padding: 8px 8px; */
    border:1px solid #000;
    padding: 2px;
    min-height:30px; 
    min-width: 120px;
    /* border-radius: 4px; */
}
.navbar .contact {
    color: #000;
    text-decoration: none;
    border-radius:10px;
    margin-left: 40px;
    /* padding: 8px 8px; */
    border:1px solid #000;
    padding: 2px;
    min-height:30px; 
    min-width: 120px;
    /* border-radius: 4px; */
}