.wrap {
    position: relative;
    display: flex;
    /* min-width: 100px; */
    margin-left: 10px;
    padding: 2px;
    min-height:30px; 
    min-width: 120px;
  }
  .search-icon {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 14px;
  }

  .clear-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    cursor: pointer;
    /* <!-- visibility: hidden; --> */
  }
  .search {
    
    border: 1px solid grey;
    border-radius: 5px;
    border:1px solid #000;
    
    padding: 2px 30px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    /* padding: 2px; */
    min-height:30px; 
    min-width: 120px;
  }