.trip-list{
    /* display: grid;  */
    /* grid-template-columns: repeat(1, 1fr);   */
    /* grid-gap: 40px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    row-gap: 40px;
    padding-left: 30px;
    padding-bottom: 20px;
    /* margin-bottom: 30px; */
    margin: 30px 20px 30px 20px;
    background-color: darkolivegreen;
}
.card{
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 250px 200px 50px;
    grid-template-areas: "image" "text" "stats";

    font-family: roboto;
    border-radius: 18px;
    background: whitesmoke;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor:pointer;
}
/* @media (min-width: 900px){
    .card { grid-template-columns: repeat(3, 1fr); }
} */
.card-image {
    grid-area: image;
    height: 250px;
    width: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text {
    grid-area: text;
}
.card-text .title{
    text-decoration: none;
    margin-bottom :0;
}
.card-text .title :hover{
    background: cyan; 
}
.card-text .place1{
    grid-area: stats;

    display: flex;
    margin-top: 0;
    grid-template-columns: 200px;
    column-gap: 0px;
    border:darkgray;
    /* border-bottom-right-radius: 15px; */
    /* justify-content:center; */
    align-items: stretch;

}
.card-text .place{
    padding: 5px;
    flex: 0.75;
    /* grid-template-columns: 150px; */
    /* background: cyan; */
    margin-left: 0 0 ;
    text-align: center;

}
.card-text .date{
    padding: 5px;
    flex: 0.75;
    padding-left: 3px;
    text-align: center;

}

.card-stats {
    grid-area: stats;
    display: flex;
    grid-template-columns: 150px;
    column-gap: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: stretch;
}
.card-stats .more{
    padding: 15px;
    flex: 0.5;
    margin-left: 0 0 ;
    text-align: center;

}
.card-stats .delete{
    padding: 15px;
    flex: 0.5;
    margin-left: 0 0 ;
    text-align: center;
}
.card-stats .more:hover{
    background: cyan; 
}
.card-stats .delete:hover{
    background: cyan; 
}

.card:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}